/* variables ************************************************************************************************************************************************************************************/

/* source https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    /* principales / main */
    --vertLight: #E2F1A9;
    --jauneLeger: #FFFFC6;
    --brun: #514D3C;
    --AnthraciceFonce: #2D3739;
    --VertFonce: #123D15;
    /* secondaires / secondary*/
    --blancCasse: #F7F5F0;
    --brique : #7B2915
}

/* source https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: Cmu;
    src: url(../fonts/cmu.ttf);
}

#logoSite {
    height: 60px;
    margin: -20px 25px 0 0;
}

#banner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.danger {
    color: var(--brique) !important;
    font-weight: 660;
}
.btn {
    cursor:pointer;
    height: 35px;
    width: 130px;
    border-radius: 8px;
    border: 1px solid var(--brun);
    font-size: 22px;
    padding: 5px;
}
.bt-success {
    background-color: var(--vertLight);
    color: var(--VertFonce);
}
.bt-danger {
    background-color: var(--brique);
    color: var(--blancCasse);
}


.search-bar input {
    width: 300px;
    height: 30px;
    border: 1px solid var(--vertLight);
    color: var(--VertFonce);
    background-color: var(--blancCasse);
    border-radius: 9px;
    padding: 0 6px;
    font-family: Cmu;
    font-size: 15px;
}
.search-bar input:focus {
    outline: none;
    border: 1px solid var(--jauneLeger);
}

.user-login img {
    width: 25px;
    height: 25px;
}

.center {
    text-align: center;
}
.gauche {
    text-align: left;
}
.droit {
    text-align: right;
}
.titre {
    text-align: center;
    font-size: 35px;
    font-family: FiraSans;
    color: var(--AnthraciceFonce);
    letter-spacing: 4px;
}
.leger-gras {
    font-weight: 650;
}
.w50 {
    width: 50%;
}
.container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.group-vertical {
    display: flex;
    flex-direction: column;
}
/* général / general **************************************************************************************************************************************************************************/

* {
    box-sizing: border-box;
}

html {
    background-image: url("../images/fond.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background-color: var(--blancCasse);
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* entête / header *****************************************************************************************************************************************************************************/

header {
    height: 130px;
    background: var(--AnthraciceFonce);
    color: var(--vertLight);
    flex-shrink: 0;
    border-radius: 0 0 6% 6%;
    font-size: 20px;
    font-family: FiraSans;
    position: relative;
}

header nav {
    background-color: var(--brun);
    overflow: hidden;
}

header nav ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    display: block;
    color: var(--blancCasse);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--vertLight);
}

header nav .curent-page {
    color: var(--jauneLeger);
    cursor: not-allowed;
}

header #icon-nav-droit{
    position: absolute;
    right: 3vw;
    top: 20px;
    cursor: pointer;
    width: 36px;
    height: 40px;
    background-image: url("../images/accessibility-on.svg");
    background-color: var(--vertLight);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border: 2px solid var(--vertLight);
    border-radius: 8px;
}

#current-time {
    margin-left: 40px;
    text-align: right;
}
#navbar-login {
    margin-right: 40px;
    text-align: left;
}

#recherche-non-disponible {
    cursor: not-allowed;
}

/* main************************************************************************************************************************************************************************************/

main {
    flex-grow: 1;
    padding: 8px;
    font-size: 18px;
    font-family: Cmu;
}
/* footer ************************************************************************************************************************************************************************************/

footer {
    height: 60px;
    background: var(--jauneLeger);
    padding: 8px;
    border-radius: 6% 6% 0 0;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--VertFonce);
}

footer nav ul li a:hover {
    text-decoration: underline;
}

/* Éléments / elements **************************************************************************************************************************************************************************/

#produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin : 4px;
    padding: 4px;
}
#produits .card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--brun);
    border-radius: 6px;
    background-color: var(--blancCasse);
    opacity: 1;
    color: var(--VertFonce);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#produits .card .produit-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}

#produits .card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

#produits .card h4 {
    text-align: center;
    color: var(--VertFonce);
    font-size: 25px;
    letter-spacing: 2px;
}
#produits .description {
    text-align: justify;
    font-size: 17px;
    margin: 0 4px;
}
#produits .category {
    margin: 8px 3px 3px 3px;
    text-align: center;
    font-size: 14px;
}
#produits .prix {
    text-align: center;
    font-size: 20px;
    font-weight: 550;
}

#details-produit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 80%;
    padding: 10px;
    background-color: var(--blancCasse);
    opacity: 1;
    border: 3px groove var(--vertLight);
    border-radius: 20px;
    display: none;
    z-index: 100;
}
#details-produit .close {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 45px;
    height: 45px;
    font-size: 30px;
    cursor: pointer;
    background-image: url("../images/close.svg");
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
    border: 1px solid var(--VertFonce);
    border-radius: 8px;
}

#produit-long-description {
    text-align: justify;
    font-size: 20px;
    font-family: Cmu;
    color: var(--VertFonce);
}
#image-produit {
    text-align: center;
max-height: 260px;
}

#interaction-produit {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

#add-panier {
    background-image: url("../images/card.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    color: var(--vertLight);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

/* Panier / cart **************************************************************************************************************************************************************************/

#caroussel-panier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin : 4px;
    padding: 4px;
}
#caroussel-panier .card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--vertLight);
    border-radius: 6px;
    background-color: var(--blancCasse);
    opacity: 1;
    color: var(--VertFonce);
    margin: 0;
    padding: 5px;
    font-size: 16px;
    text-align: left;
}

#caroussel-panier .card h4 {
    margin: 0;
    text-align: center;
    font-size: 20px;
}

#caroussel-panier .card .produit-image {
    width: 100%;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#caroussel-panier table {
    width: 100%;
    border: 2px solid var(--jauneLeger);
    border-collapse: collapse;
}
#caroussel-panier td {
    border: 1px solid var(--AnthraciceFonce);
    padding: 5px;
    color: var(--AnthraciceFonce);
}
#caroussel-panier td:first-child {
    width: 60%;
}
#caroussel-panier .panier-quantite {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#caroussel-panier .plus {
    background-image: url("../images/plus.svg");
}

#caroussel-panier .moins {
    background-image: url("../images/moins.svg");
}
#caroussel-panier .plus,
#caroussel-panier .moins {
    width: 25px;
    height: 25px;
    margin: 0 8px;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}
#panier-vide {
    text-align: center;
    font-size: 25px;
    font-family: FiraSans;
    letter-spacing: 4px;
    background-image: url("../images/panier-vide.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    width: auto;
}

#total-commande {
    position: fixed;
    bottom: 60px;
    max-width: 1280px;
    margin: 0 -8px;
    width: 100%;
    height: 45px;
    border: 1px solid var(--brun);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
/* Paiement / pay */
#paiement {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 80%;
    padding: 10px;
    background-color: var(--blancCasse);
    opacity: 1;
    border: 3px groove var(--vertLight);
    border-radius: 20px;
    z-index: 100;
    display: none;
}

#paiement h4 {
    text-align: center;
    font-size: 30px;
    font-family: FiraSans;
    color: var(--AnthraciceFonce);
    letter-spacing: 4px;
    margin: 0;
}
#gestion-compte form label,
#user-connexion form label,
#contactez-moi label,
#paiement form label{
    font-size: 16px;
    font-family: FiraSans;
    color: var(--AnthraciceFonce);
}
#gestion-compte form input,
#user-connexion form input,
#contactez-moi input,
#paiement form input {
    width: 300px;
    height: 30px;
    border: 1px solid var(--brun);
    color: var(--VertFonce);
    background-color: var(--blancCasse);
    border-radius: 9px;
    padding: 0 6px;
    font-family: Cmu;
    font-size: 15px;
}
#paiement input[type="checkbox"]{
    position: relative;
    cursor: pointer;
}
#paiement input[type="checkbox"]:before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: -3px;
    left: 0;
    border: 1px solid var(--brun);
    border-radius: 4px;
    background-color: var(--blancCasse);
}
#paiement input[type="checkbox"]:checked:after{
    content: "✅";
    display: block;
    top: -3px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--brun);
    background-color: var(--vertLight);
    position: absolute;
}
.container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.group-vertical {
    display: flex;
    flex-direction: column;
}
#adres.container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.group-vertical {
    display: flex;
    flex-direction: column;
}
-livraison {
    display: none;
}
#paiement form h5 {
    font-size: 18px;
    font-family: FiraSans;
    letter-spacing: 2px;
}

/* contact *****************************************************************************************************************************************/

#contactez-moi textarea {
    width: 620px;
    background-color: var(--blancCasse);
    border: 1px solid var(--brun);
    color: var(--VertFonce);
    border-radius: 8px;
    padding: 5px;
    font-family: Cmu;
    font-size: 16px;
}
/* créer compte / create account *****************************************************************************************************************/
#suggestion-passwords {
    font-family: Cmu;
    font-size: 16px;
    color: var(--VertFonce);
}
#suggestion-passwords li {
    list-style: none
}
#suggestion-passwords li::before {
    content: "";
    display: inline-block;
    background-image: url("../images/arrow-right.svg");
    background-position: center;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
#user-connexion h4{
    font-family: FiraSans;
    letter-spacing: 2px;
    color: var(--AnthraciceFonce);
    font-size: 20px;
}
#user-connexion form {
    width: 50%;
    padding: 0 5px;
}
#user-connexion form input[type="submit"]{
    width: 200px;
    margin: 0 auto;
    background-color: var(--vertLight);
    color: var(--AnthraciceFonce);
}
#suppr-compte,
#gestion-compte form,
#user-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#message-securité button {
    border: 1px solid var(--brique);
    margin: 0 0 0 10px;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* gérer compte / manage account *****************************************************************************************************/
#gestion-compte h4 {
    color: var(--AnthraciceFonce);
    font-size: 19px;
    font-family: FiraSans;
    letter-spacing: 1px;
}

#suppr-compte {
    width: 200px;
    margin: 0 auto;
}

/* responsive *************************************************************************************************************************************************/

@media screen and (max-width: 1023px) {
    #details-produit {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 100%;
        height: 100%;
        padding: 5px;
        background-color: var(--blancCasse);
        opacity: 1;
        border: 3px groove var(--vertLight);
        border-radius: 20px;
        display: none;
        z-index: 100;
    }
    #details-produit h2 {
        font-size: 20px;
        margin: 5px 0 0 0;
    }
    #details-produit .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        cursor: pointer;
        background-image: url("../images/close.svg");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
        border: 1px solid var(--VertFonce);
        border-radius: 8px;
    }
    
    #produit-long-description {
        text-align: justify;
        font-size: 18px;
        font-family: Cmu;
        color: var(--VertFonce);
    }
    #image-produit {
        text-align: center;
        max-height: 200px;
    }
}
@media sceen and (max-width:1023px),
                (max-height: 460px){
    #image-produit{
        height: 30%;
        width: auto;
    }
    #image-produit img {
        height: 100%;
        width: auto;
    }

    #produit-long-description {
        font-size: 4vh;
    }
    #details-produit h2 {
        font-size: 5vh;
        margin: 1vh 0 0 0;
    }

    #details-produit .close {
        position: absolute;
        top: 3vh;
        right: 3vh;
        width: 6vh;
        height: 6vh;
        font-size: 30px;
        cursor: pointer;
        background-image: url("../images/close.svg");
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
        border: 1px solid var(--VertFonce);
        border-radius: 8px;
    }

    #prix-produit {
        font-size: 3vh;
    }

    #add-panier {
        font-size: 3vh;
        width: 5vh;
        height: 5vh;
    }
}
