/* variables ************************************************************************************************************************************************************************************/

:root {
    /* principales / main */
    --gazon: #BDE038;
    --moutarde: #A3AB78;
    --taupe: #818274;
    --bleuVertAcier: #506266;
    --vertMinuit: #10454F;
    /* secondaires / secondary*/
    --blancTilleul: #e0e7c8;
}

#logoSite {
    height: 60px;
    margin: -20px 25px 0 0;
}

#banner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    ;
}

.search-bar input {
    width: 300px;
    height: 30px;
    border: 1px solid var(--gazon);
    color: var(--vertMinuit);
    background-color: var(--blancTilleul);
    border-radius: 9px;
    padding: 0 6px;
}

.user-login img {
    width: 25px;
    height: 25px;
}

.center {
    text-align: center;
}


/* général / general **************************************************************************************************************************************************************************/

* {
    box-sizing: border-box;
}

body {
    background: var(--blancTilleul);
    color: var(--vertMinuit);
    margin: 0;
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
}


/* entête / header *****************************************************************************************************************************************************************************/

header {
    height: 130px;
    background: var(--bleuVertAcier);
    color: var(--gazon);
}

header nav {
    background-color: var(--taupe);
    overflow: hidden;
}

header nav ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    display: block;
    color: var(--blancTilleul);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--vertMinuit);
}


/* main************************************************************************************************************************************************************************************/

main {
    height: 1fr;
    padding: 8px;
}


/* footer ************************************************************************************************************************************************************************************/

footer {
    height: 60px;
    background: var(--moutarde);
    padding: 8px;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--vertMinuit);
}

footer nav ul li a:hover {
    text-decoration: underline;
}